# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints
.env

# Django
db.sqlite3
/media/
/staticfiles/
*.log
local_settings.py # If you use a separate local settings file